<ion-content padding>
<div class="wrapper">
<h1 class="title">CourtStat</h1>

<ion-item>
  <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
</ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>

  <ion-button (click)="signIn()" fill="clear">
    <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
  </ion-button>
  </ion-item>

  <div class="footer"> <h6>Don't have an account?</h6>
    <a>Sign Up</a>
  </div>
</div>
</ion-content>
