ion-input {
    border: 5px;
    border-color: aqua;
    margin-top: 10px;
    width: 75%;
}

.inputs {
    height: 6vh;
}

a {
    color: #1ac6c9;
}

ion-button {
    display: block;
    float: right;
}
ion-icon {
    font-size: 40px;
    color: #1ac6c9;
}

.title {
    color: #1ac6c9;
    font-size: 10vw;
    padding-bottom: 10%;
    text-align: center;
}

.wrapper {
    padding-top: 25%;
}

.footer {
    text-align: center;
    font-size:3vw;
}

h6 {
    font-size: 3vw;
}

