<ion-tabs>
  <ion-tab label="Create" icon="create" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="League" icon="trophy" href="/tabs/(leaderboards:leaderboards)">
    <ion-router-outlet name="leaderboards"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Leaderboards" icon="list-box" href="/tabs/(league:league)">
    <ion-router-outlet name="league"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
