<ion-tabs>
  <ion-tab label="Create" icon="create" href="/tabs/(create:create)">
    <ion-router-outlet name="create"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="League" icon="trophy" href="/tabs/(leaderboards:leaderboards)">
    <ion-router-outlet name="leaderboards"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Leaderboards" icon="list-box" href="/tabs/(league:league)">
    <ion-router-outlet name="league"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
