ion-input {
    border-color: aqua;
    margin-top: 10px;
}

a {
    color: #1ac6c9;
}

ion-icon {
    font-size: 30px;
    color: #b0b2b3;
}

.password-unmatch {
    color: red !important;
}

.password-match {
    color: green !important;
}

.title {
    color: #1ac6c9;
    font-size: 10vw;
    padding-bottom: 10%;
    text-align: center;
}

.wrapper {
    padding-top: 25%;
}

.footer {
    text-align: center;
    font-size:3vw;
}

.create-account {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
