<ion-content padding>
    <ion-button (click)="goBack()" fill="clear" item-left no-padding>
        <ion-icon slot="icon-only" name="close" no-padding></ion-icon>
    </ion-button>
    <div class="wrapper">
        <h1 class="title">Create Account</h1>
        <ion-item no-padding>
            <ion-input [(ngModel)]="email" placeholder="Email" type="text"></ion-input>
            <ion-icon name="mail" item-right></ion-icon>
        </ion-item>
        <ion-item no-padding>
            <ion-input [(ngModel)]="name" placeholder="Full Name" type="text"></ion-input>
            <ion-icon name="contact" item-right></ion-icon>
        </ion-item>
        <ion-item no-padding>
            <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
            <ion-icon name="lock" item-right></ion-icon>
        </ion-item>
        <ion-item no-padding>
            <ion-input [(ngModel)]="confirmPassword" placeholder="Confirm Password" type="password"></ion-input>
            <ion-icon *ngIf="password !== confirmPassword && password" class="password-unmatch" name="close" item-right></ion-icon>
            <ion-icon *ngIf="password === confirmPassword && password" class="password-match" name="checkmark" item-right></ion-icon>
        </ion-item>
        <div class="create-account">
            <ion-button (click)="registerUser(email, password)">Sign Up</ion-button>
        </div>
    </div>
</ion-content>                                                                              