<ion-content padding>
   <div class="wrapper">
     <h1 class="title">Create your CourtStat Account</h1>
     <ion-item>
       <ion-input [(ngModel)]="email" placeholder="Email" padding></ion-input>
     </ion-item>
     <ion-item>
       <ion-input [(ngModel)]="password" placeholder="Password" type="password" padding></ion-input>
       <ion-button (click)="signIn()" fill="clear" item-right>
         <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
       </ion-button>
     </ion-item>
   </div>
 </ion-content>
