

<ion-content padding>
  <div class="content">
    <div class="header-items">
      <ion-icon name="contact" class="user-avatar"></ion-icon>
      <span class="username-large" *ngIf="(userName$ | async) as userName">
        {{ userName }}
      </span>
    </div>
      <ion-card class="large-card" no-margin>
    <ion-card-content>
      <div class="circle-box">
         <span class="circle">
          <h6 class="circle-title">
            Overall<br>Rank:
          </h6>
          <h2 class="circle-rank-position">
            69<sup>th</sup>
          </h2>
          </span>
          <span class="circle">
            <h6 class="circle-title">
              Favourite<br>Team:
            </h6>
            <h2 style="color: white; text-align: center;">
              [.png here]
            </h2>
          </span>
      </div>
      <div class="divider"></div>
      <div class="profile-table-box">
        <h2 *ngIf='leagues && leagues.length'>Leagues</h2>
        <ion-list class="profile-table" *ngFor='let league of leagues'>
            <ion-item class="league-names"  (click)='showInfo(league.id)'>{{league.id}}</ion-item>

        </ion-list>
      </div>
   </ion-card-content>
  </ion-card>
  </div>
</ion-content>

