

<ion-content padding>
  <div class="content">
    <div class="header-items">
      <ion-icon name="contact" class="user-avatar"></ion-icon>
      <span class="username-large" *ngIf="(userName$ | async) as userName">
        {{ userName }}
      </span>
    </div>
      <ion-card class="large-card" no-margin>
    <ion-card-content>
      <div class="circle-box">
            <span class="circle"></span>
            <span class="circle"></span>
      </div>
   </ion-card-content>
  </ion-card>
  </div>
</ion-content>

