.content {
    padding-top: 30px;
}

.header-items {
    display: flex;
    align-items: center;
}

.username-large {
    font-size: 25px;
    color: #666666;
}

.user-avatar {
    font-size: 75px;
    margin-left: 20px;
    color: #1ac6c9;
}


.large-card { 
    padding: 16px;
    height: 75vh;
    margin: 0 auto;
}

.circle {
    border-radius: 50%;
    background-color: #1ac6c9;
    height: 100px;
    width: 100px;
}

.circle-title {
    padding-top: 5px;
    color: white;
    text-align: center;
}

.circle-rank-position {
    color: white;
    font-size: 30px;
    text-align:center;
}

.circle-box {
    display: flex;
    justify-content: space-between;
}

.divider {
    height: 30px;
}

.league-names {
    font-size: 15px;
}
