.content {
    padding-top: 30px;
}

.username-large {
    font-size: 25px;
}

.user-avatar {
    font-size: 75px;
    margin-left: 20px;
    color: #1ac6c9;
}


.large-card { 
    padding: 16px;
    padding-top: 300px !important;
    height: 75vh;
    margin: 0 auto;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #1ac6c9;
    height: 75px;
    width: 75px;
    display: inline;
}
