.content {
    padding-top: 30px;
}

.header-items {
    display: flex;
    align-items: center;
}

.username-large {
    font-size: 25px;
}

.user-avatar {
    font-size: 75px;
    margin-left: 20px;
    color: #1ac6c9;
}


.large-card { 
    padding: 16px;
    height: 75vh;
    margin: 0 auto;
}

.circle {
    border-radius: 50%;
    background-color: #1ac6c9;
    height: 100px;
    width: 100px;
}

.circle-box {
    display: flex;
    justify-content: space-between;
}
